@font-face {
    font-family: 'Fiona';
    src: url('../../assets/fonts/Fiona.woff2') format('woff2'),
        url('../../assets/fonts/Fiona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.product-container {
    background: #0f0f0f;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: white;
}


.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 75%;
    z-index: 1;
}


.product-info {}